In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [9]:
categorical = [var for var in data.columns if data[var].dtype=='O']
numerical = [var for var in data.columns if data[var].dtype!='O']
print(categorical)
print(numerical)

['State']
['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

In [11]:
data[numerical].head()
data[categorical].head()

        State
0    New York
1  California
2     Florida
3    New York
4     Florida

In [14]:
for var in ['State']:
    print(var, ' values: ', data[var].unique())
data.isnull().mean()

State  values:  ['New York' 'California' 'Florida']

R&D Spend          0.0
Administration     0.0
Marketing Spend    0.0
State              0.0
Profit             0.0
dtype: float64

In [4]:
numerical = [var for var in numerical if var not in['Profit']]
numerical

NameError: name 'numerical' is not defined

In [2]:
for var in numerical:
    plt.figure(figsize=(15,6))
    fig = data.boxplot(column=var)
    fig.set_title('')
    fig.set_ylabel(var)
    
    fig = data[var].hist(bins=20)
    fig.set_ylabel('Number of houses')
    fig.set_xlabel(var)

    plt.show()

NameError: name 'numerical' is not defined

In [3]:
for var in numerical:
    plt.figure(figsize=(15,6))
    plt.subplot(1, 2, 1)
    fig = data.boxplot(column=var)
    fig.set_title('')
    fig.set_ylabel(var)
    
    plt.subplot(1, 2, 2)
    fig = data[var].hist(bins=20)
    fig.set_ylabel('Number of houses')
    fig.set_xlabel(var)

NameError: name 'numerical' is not defined